{{!< default }}

<section class="content-container group">
  <section class="content-list js-content-list">
    <header class="list-header">
      <section class="list-control">
        <small>ALL POSTS</small>
      </section>
    </header>
    <ol>
    </ol>
  </section>

  <section class="content-preview js-content-preview">
  </section>
</section>
