{{!< default }}


<section class="content-container group">
  	<section class="col content-list js-content-list">
  		<header class="list-header">
		    <section class="list-control">
		    	<small>ALL POSTS</small>
		    	<span class="pull-right">+</span>
		    </section>
		</header>
    	<ol>
    	</ol>
  	</section>

  	<section class="col content-preview js-content-preview">
  	</section>
</section>