{{!< default }}

<section class="title-container">
  <input type="text" name="title" class="entry-title" autocomplete="off" spellcheck="false" autofocus />
</section>

<section class="entry-container">
  	<section class="markdown-content">
  		<section class="markdown-header">
  			<small>MARKDOWN</small>
  			<span class="pull-right" id="help"><i class="fa fa-question-circle"></i></span>
  		</section>
  		<textarea class="markdown-entry" id=""></textarea>
  	</section>

  	<section class="html-content">
  		<section class="html-header">
  			<small>PREVIEW<span class="pull-right" id="word-count">0 WORDS</span></small>
  		</section>
      <section class="rendered-markdown">
        <div class="html-entry" id=""></div>
      </section>
 	</section>
</section>