{{!< default }}

<section class="title-container">
  <input type="text" name="title" class="entry-title" placeholder="Your Post Title" autocomplete="off" spellcheck="false" autofocus />
</section>

<section class="entry-container">
  	<section class="markdown-content">
  		<section class="markdown-header">
  			<small>MARKDOWN</small>
  			<span class="pull-right" id="help"><i class="fa fa-question-circle"></i></span>
  		</section>
  		<textarea class="markdown-entry" id=""></textarea>
  	</section>

  	<section class="html-content">
  		<section class="html-header">
  			<small>PREVIEW<span class="pull-right" id="word-count">0 WORDS</span></small>
  		</section>
      <section class="rendered-markdown">
        <div class="html-entry" id=""></div>
      </section>
 	</section>
</section>

<footer class="publish-bar">
  <section class="entry-actions">
    <button class="btn btn-success" id="btn-publish">Publish Now</button>       
  </section>

</footer>