{{!< default }}


<aside class="notifications">
	{{#if error}}
	<section class="notification error-notification">
	    {{error}}    
	    <a class="close" href="#"><span class="hidden">Close</span></a>
	</section>
	{{/if}}

	{{#if info}}
	    <p>{{info}}</p>
{{/if}}
</aside>
<section class="login-box js-login-box">

</section>
