<header>
    <h1 class="title">General</h1>
    <section class="page-actions">
        <button class="btn btn-success save">Save</button>
    </section>
</header>

<section class="content">
	<form id="settings-general" class="settings-general" novalidate="novalidate">
		<div class="form-group">
			<label for="blog-title">Blog Title</label>
			<input type="text" value="{{title}}" id="blog-title" />
			<p>The name of your blog</p>
		</div>

		<div class="form-group description-container">
			<label for="blog-description">Blog Description</label>
			<textarea id="blog-description">{{description}}</textarea>
			<p>
			Describe what your blog is about
			<span class="word-count">0</span>
			</p>
		</div>

		<div class="form-group">
		    <label for="blog-cover">Blog Cover</label>
		    	<input type="file" id="blog-cover" name="files[]" data-url="htttp://localhost:3000/admin/upload/" style="display: none;" />
		        <a class="btn btn-primary blog-upload">Upload Image</a>
		    <p>Display a cover image on your site</p>
		</div>	

        <div class="form-group">
            <label for="activeTheme">Theme</label>
            <select id="activeTheme" name="general[activeTheme]">
            	<option value="">Default</option>
            </select>
            <p>Select a theme for your blog</p>
        </div>

		<div class="form-group">
		    <label for="blog-cover">Connection</label>
		        <a class="btn btn-primary">Establish Connection</a>
		    <p>Connect to the publishing platform</p>
		</div>	        
	</form>	
</section>

