<header>
    <h1 class="title">User Profile</h1>
    <section class="page-actions">
        <button class="btn btn-success">Save</button>
    </section>
</header>

<section class="content">
	<form id="settings-general" novalidate="novalidate">
		<div class="form-group">
			<label for="blog-title">User Title</label>
			<input type="text" value="{{name}}" id="blog-title" />
			<p>The name of your blog</p>
		</div>
</section>