<a class="fade" href="#">
    <h3 class="entry-title">{{{title}}}</h3>
    <section class="entry-meta">
        <span class="status">
        	{{#compare status 'published'}}
        		<span class="published">Published {{date updated_at timeago="True"}}</span>
        	{{/compare}}

        	{{#compare status 'draft'}}
        		<span class="draft">Draft</span>
        	{{/compare}}
        </span>
    </section>
</a>
