<a class="fade" href="#">
    <h2 class="entry-title">{{{title}}}</h2>
    <section class="entry-meta">
        <span class="status">
        	Published {{date created_at timeago="True"}}
        </span>
    </section>
</a>
